<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> <!-- bootstrap inclusion-->
    <title>Document</title>
</head>
<body>
  <div class="container my-4">

    <p class="font-weight-bold">Bootstrap rounded corners classes helps you to easily round its corners.</p>

    <p><strong>Detailed documentation and more examples you can find in our <a href="https://mdbootstrap.com/docs/standard/utilities/borders/"
          target="_blank">Bootstrap rounded corners Docs</a> </p>

<hr class="mt-5">

  <p>Built with <a target="_blank" href="https://mdbootstrap.com/docs/standard/">Material Design for Bootstrap</a> - free and powerful Bootstrap UI KIT</p>

  <a class="btn btn-primary me-2" href="https://mdbootstrap.com/docs/standard/getting-started/installation/" target="_blank" role="button">Download MDB UI KIT <i class="fas fa-download"></i></a>
  <a class="btn btn-danger me-2" target="_blank" href="https://mdbootstrap.com/docs/standard/" role="button">Learn more</a>
  <a class="btn btn-success me-2" target="_blank" href="https://mdbootstrap.com/docs/standard/getting-started/" role="button">Tutorials</a>
  <a class="btn btn-dark me-2" target="_blank" href="https://github.com/mdbootstrap/mdb-ui-kit" role="button">GitHub <i class="fab fa-github ms-2"></i></a>

  <hr class="mb-5"/>

    <p class="font-weight-bold">Basic example</p>

    
    
<!--Section: border-radius-->
<section id="border-radius">

  <!--Title-->
  <h2 class="section-heading mb-4">
    Border-radius
  </h2>

  <!--Description-->
  <p class="description">Finally, you can add classes to an element to easily round its corners.</p>


  <!--Section: Live preview-->
  <section class="section-preview">

    <img class="rounded" alt="100x100" src="https://placehold.it/100x100" data-holder-rendered="true">
    <img class="rounded-top" alt="100x100" src="https://placehold.it/100x100" data-holder-rendered="true">
    <img class="rounded-right" alt="100x100" src="https://placehold.it/100x100" data-holder-rendered="true">
    <img class="rounded-bottom" alt="100x100" src="https://placehold.it/100x100" data-holder-rendered="true">
    <img class="rounded-left" alt="100x100" src="https://placehold.it/100x100" data-holder-rendered="true">
    <img class="rounded-circle" alt="100x100" src="https://placehold.it/100x100" data-holder-rendered="true">
    <img class="rounded-pill" alt="150x75" src="https://placehold.it/150x75" data-holder-rendered="true">
    <img class="rounded-0" alt="100x100" src="https://placehold.it/100x100" data-holder-rendered="true">


  </section>
  <!--Section: Live preview-->

  <!--Section: Code-->
  <section>
    <mdbsnippet>
<br><br>
      <code data-lang="html" data-name="HTML">

        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;rounded mb-0&quot;&gt; <br>
        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;rounded-top&quot;&gt; <br>
        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;rounded-right&quot;&gt; <br>
        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;rounded-bottom&quot;&gt;<br>
        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;rounded-left&quot;&gt;<br>
        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;rounded-circle&quot;&gt;<br>
        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;rounded-pill&quot;&gt;<br>
        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;rounded-0&quot;&gt;<br>

      </code>

    </mdbsnippet>
  </section>
  <!--Section: Code-->

</section>
<!--/Section: border-radius-->

<hr class="mt-4 mb-5">

<!--Section: -->
<section id="sizes">

  <!--Title-->
  <h2 class="section-heading mb-4">
    Sizes
  </h2>

  <!-- Description -->
  <p>
    Use <code>.rounded-lg</code> or <code>.rounded-sm </code> for larger or smaller border-radius.
  </p>

  <!--Section: Live preview-->
  <section class="section-preview">

    <img class="rounded-sm" alt="100x100" src="https://placehold.it/100x100" data-holder-rendered="true">
    <img class="rounded-lg" alt="100x100" src="https://placehold.it/100x100" data-holder-rendered="true">

  </section>
  <!--Section: Live preview-->

  <!--Section: Code-->
  <section>
    <mdbsnippet>

      <code data-lang="html" data-name="HTML"><br><br>

        &lt;img class=&quot;rounded-sm&quot; alt=&quot;100x100&quot; src=&quot;...&quot;&gt;<br>
        &lt;img class=&quot;rounded-lg&quot; alt=&quot;100x100&quot; src=&quot;...&quot;&gt;

      </code>

    </mdbsnippet>
  </section>
  <!--Section: Code-->
    
  </div>
    <script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
</body>
</html>

<!--{% block bootstrap_css %}
    <link rel="stylesheet" href="css/bootstrap.css" /> <!-- bootstrap inclusion
{% endblock bootstrap_css %}

{% block bootstrap_js %}
<script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
<script src="js/bootstrap.js"></script>
{% endblock bootstrap_js %}-->